@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  display: flex;
  background-color: #1d1d1d;
  color: aliceblue;
  font-family: "Source Sans Pro", sans-serif;
}

main {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-bottom: 3px;
}

/* HEADER */
header {
  margin-top: 7rem;
  border-bottom: 4px solid #4484d2;
  padding: 15px;
}

.logo {
  position: absolute;
  top: 10px;
  right: 40px;
  /* margin: 0 0 0 -334px; */
  margin: 0 auto;
  width: 20rem;
  height: 18rem;
  background: transparent url(./logo.png) 0 0 no-repeat;
}

.logo:hover {
  transform: scale(0.9);
}

/* CHECKBOXES */
.multiple-checkboxes {
  background-color: #f0f8ff83;
  box-shadow: 1px 1px 7px rgb(107, 107, 107);
  padding: 15px;
}

.individual-checkboxes {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.multiple-checkboxes h3 {
  text-shadow: 1px 1px 3px black;
}

label,
input {
  margin: 5px;
}

input[type="checkbox"] {
  width: 18px; /*Desired width*/
  height: 18px; /*Desired height*/
}

label {
  font-weight: 600;
}

.found-amount {
  padding: 5px 15px;
  background-color: #f0f8ff83;
  box-shadow: 1px 1px 7px rgb(107, 107, 107);
  border-bottom: 4px solid #4484d2;
}

.select-one {
  font-size: 25px;
}

/* EXERCISE CONTAINER */
.exercises-main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.exercise-list {
  padding: 20px;
  width: 70%;
}

.intensity {
  margin: 10px 0px 30px 0px;
}

.individual-exercise-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.individual-exercise {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  background-color: white;
  margin: 5px;
  padding: 10px;
  color: black;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.individual-exercise > * {
  margin: 5px 5px 5px 5px;
}

.individual-exercise img {
  object-fit: scale-down;
  width: 100%;
  height: 60%;
  /* box-shadow: 3px 3px 5px rgb(31, 30, 30); */
}

/* EXERCISE MODAL */
.exercise-modal-container {
  position: relative;
  width: 30%;
  background-color: #4484d2;
  padding: 15px;
}

.exercise-modal-container {
  margin-bottom: 10px;
}

.exercise-modal-container-info {
  position: sticky;
  top: 8%;
}

li {
  list-style: none;
  margin-bottom: 5px;
}

span {
  margin: 7px 5px;
  border-right: 1px solid aliceblue;
  padding-right: 5px;
}

i {
  margin-left: 7px;
}

i:hover {
  color: rgba(201, 206, 211, 0.507);
}

/* BUTTON */
button {
  margin: 10px;
  border: none;
  background-color: rgba(214, 221, 228, 0.507);
  height: 30px;
  width: 30px;
  font-size: 15px;
  margin-left: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.452);
  cursor: pointer;
}

button:hover {
  background-color: rgba(184, 190, 197, 0.507);
}

/* FOOTER */
footer {
  background-color: rgba(240, 248, 255, 0.507);
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  padding: 10px;
}
